@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "SourceSansPro-Bold";
    src: url(../fonts/SourceSansPro/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: "SourceSansPro-Regular";
    src: url(../fonts/SourceSansPro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: "SourceSansPro-SemiBold";
    src: url(../fonts/SourceSansPro/SourceSansPro-SemiBold.ttf);
}
